<article class="proyectos-fondo py-5"> <!-- Proyectos -->

    <div class="row">
        <div class="col-1"></div>

        <div class="col">
            <h3 class="proyectos-titulo">Proyectos</h3>
        </div>

    </div>

    <!-- Argentina Programa -->
    <app-proyecto nombre="Proyecto Argentina Programa" descripcion="Realizado en el 2023, el proyecto consiste en un portfolio web, utilizando Angular para el Front-End, y el Back-End está desarrollado con JAVA. El portfolio contiene una sección de información personal, los títulos a nivel de Universidad y Cursos, una sección con las habilidades, tanto blandas como duras, y los proyectos realizados."></app-proyecto>

    <!-- Gabriel Gayol TaeKwon-Do ITF -->
    <app-proyecto nombre="Gabriel Gayol TaeKwon-Do ITF" descripcion="
    Realizado en a finales de 2021, y con actualizaciones hasta la fecha, el proyecto consiste en una página web con fines comerciales para la publicidad de las clases de TaeKwon-Do ITF. Esta incluye una pestaña dedicada a la explicación del arte marcial, otra con información de la escuela a la cual pertenece el instructor, una con información precisa sobre horarios y lugar de las clases, y una última pestaña con un CV resumido del instructor." href="https://gayol-tkd-itf.netlify.com"></app-proyecto>

</article>