<article class="proyectos-fondo pt-5"> <!-- Proyectos -->

    <div class="row">
        <div class="col-1"></div>

        <div class="col">
            <h3 class="proyectos-titulo">Proyectos</h3>
        </div>

    </div>

    <div> <!-- Proyecto Argentina Programa -->

        <div class="row mt-5">
            <div class="col-1"></div>
            <div class="col">
                <h4 class="proyectos-subtitulo">Proyecto Argentina Programa</h4>
            </div>
        </div>

        <div class="row pt-3">

            <div class="col-1"></div>
            <div class="col-md-5 px-5">
                <p class="proyectos-parrafo">Realizado en el 2023, el proyecto consiste en un portfolio web, utilizando Angular para el Front-End, y el Back-End está desarrollado con JAVA. El portfolio contiene una sección de información personal, los títulos a nivel de Universidad y Cursos, una sección con las habilidades, tanto blandas como duras, y los proyectos realizados.</p>
            </div>

            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <a type="button" class="btn btn-outline-light" href="#" target="_blank">Ver proyecto</a>
            </div>
        </div>

    </div>

    <div> <!-- Gabriel Gayol TaeKwon-Do ITF -->

        <div class="row mt-5">
            <div class="col-1"></div>
            <div class="col">
                <h4 class="proyectos-subtitulo">Gabriel Gayol TaeKwon-Do ITF</h4>
            </div>
        </div>

        <div class="row pt-3">

            <div class="col-1"></div>
            <div class="col-md-5 px-5">
                <p class="proyectos-parrafo">Realizado en a finales de 2021, y con actualizaciones hasta la fecha, el proyecto consiste en una página web con fines comerciales para la publicidad de las clases de TaeKwon-Do ITF. Esta incluye una pestaña dedicada a la explicación del arte marcial, otra con información de la escuela a la cual pertenece el instructor, una con información precisa sobre horarios y lugar de las clases, y una última pestaña con un CV resumido del instructor.</p>
            </div>

            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <a type="button" class="btn btn-outline-light mx-auto d-block" href="https://gayol-tkd-itf.netlify.com" target="_blank">Ver proyecto</a>
            </div>
        </div>

    </div>

</article>