<div class="row">
    <div class="col-md-6 mt-5 pb-5"> <!-- img -->
        <img src="{{src}}" alt="{{alt}}" class="ratio ratio-1x1 educacion-img mx-auto d-block">
    </div>

    <div class=" col col-md-3 my-auto d-flex flex-column justify-content-center align-items-center"> <!-- Nombre y descripción -->

        <div class="row">
            <div class="col">
                <h4 class="educacion-lugar">{{instituto}}</h4>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h5 class="educacion-carrera">{{carrera}} {{tiempo}}</h5>
            </div>
        </div>

    </div>
</div>