<article class="mt-5 educacion-fondo"> <!-- Educación -->

    <div class="row pt-3"> <!-- Educación título -->

        <div class="col-1"></div> <!-- Espacio relleno izq -->

        <div class="col educacion-titulo">
            <h3>Educación</h3>
        </div>
    </div>

    <div class="row"> <!-- UBA Contador público -->

        <div class="col-md-6 mt-5 pb-5"> <!-- UBA img -->
            <img src="../../../assets/img/Logo UBA.png" alt="Logo Universidad de Buenos Aires" class="ratio ratio-1x1 educacion-uba-img mx-auto d-block">
        </div>

        <div class=" col col-md-3 my-auto d-flex flex-column justify-content-center align-items-center"> <!-- UBA Carrera -->

            <div class="row">
                <div class="col">
                    <h4 class="educacion-lugar">Universidad de Buenos Aires</h4>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h5 class="educacion-carrera">Contador público 2021-Actualidad</h5>
                </div>
            </div>

        </div>
    </div>

    <div class="row"> <!-- Codo a Codo Full Stack Python -->

        <div class="col-md-6 mt-5"> <!-- Codo a Codo img -->
            <img src="../../../assets/img/Logo Codo a Codo.png" alt="Logo Codo a Codo" class="ratio ratio-1x1 educacion-codo-img mx-auto d-block">
        </div>

        <div class="col-md-3 my-auto d-flex flex-column justify-content-center align-items-center">

            <div class="row">
                <div class="col">
                    <h4 class="educacion-lugar">Codo a Codo 4.0</h4>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h5 class="educacion-carrera">Desarrollador Full Stack Python 2021</h5>
                </div>
            </div>

        </div>
    </div>
</article>