<article class="mt-5 educacion-fondo"> <!-- Educación -->

    <div class="row pt-3"> <!-- Educación título -->

        <div class="col-1"></div> <!-- Espacio relleno izq -->

        <div class="col educacion-titulo">
            <h3>Educación</h3>
        </div>
    </div>

    <!-- UBA Contador público -->
    <app-educacion-bloque src="../../../assets/img/Logo UBA.png" alt="Logo Universidad de Buenos Aires" instituto="Universidad de Buenos Aires" carrera="Contador público" tiempo="2021-Actualidad"></app-educacion-bloque>


    <!-- Codo a Codo Full Stack Python -->
    <app-educacion-bloque src="../../../assets/img/Logo Codo a Codo.png" alt="Logo Codo a Codo" instituto="Codo a Codo 4.0" carrera="Desarrollador Full Stack Python" tiempo="2021"></app-educacion-bloque>
    
</article>