<article class="habilidades-fondo pt-5"> <!-- Habilidades -->

    <div class="row"> <!-- Habilidades título -->
        <div class="col-1"></div>  <!-- Relleno -->
        <div class="col">
            <h3 class="habilidades-titulo">Habilidades</h3>
        </div>
    </div>

    <div class="row py-5"> <!-- Duras -->
        <div class="col-1"></div> <!-- Relleno -->
        <div class="col">
            <h4 class="habilidades-subtitulo">Duras</h4>
        </div>
    </div>

    <div class="row">

        <div class="col-md-6 col-lg-4 pb-5 d-flex flex-column justify-content-center align-items-center">
            <div class="porcentajes" style="--porcentaje: 90; --color: rgb(241, 101, 36)">
                <svg widht="10rem" heigth="10rem">
                    <circle r="65" cx="50%" cy="50%" pathlength="100"/>
                    <circle r="65" cx="50%" cy="50%" pathlength="100"/>
                    <text>90%</text>
                </svg>
            </div>
            <h5 class="pt-3 habilidades-titulo">HTML</h5>
        </div>

        <div class="col-md-6 col-lg-4 pb-5 d-flex flex-column justify-content-center align-items-center">
            <div class="porcentajes" style="--porcentaje: 70; --color: rgb(36, 101, 241)">
                <svg widht="10rem" heigth="10rem">
                    <circle r="65" cx="50%" cy="50%" pathlength="100"/>
                    <circle r="65" cx="50%" cy="50%" pathlength="100"/>
                    <text>70%</text>
                </svg>
            </div>
            <h5 class="pt-3 habilidades-titulo">CSS</h5>
        </div>

        <div class="col-md-6 col-lg-4 pb-5 d-flex flex-column justify-content-center align-items-center">
            <div class="porcentajes" style="--porcentaje: 50; --color: rgb(247, 224, 24)">
                <svg widht="10rem" heigth="10rem">
                    <circle r="65" cx="50%" cy="50%" pathlength="100"/>
                    <circle r="65" cx="50%" cy="50%" pathlength="100"/>
                    <text>50%</text>
                </svg>
            </div>
            <h5 class="pt-3 habilidades-titulo">JavaScript</h5>
        </div>

        <div class="col-md-6 col-lg-4 pb-5 d-flex flex-column justify-content-center align-items-center">
            <div class="porcentajes" style="--porcentaje: 75; --color: rgb(55, 119, 167)">
                <svg widht="10rem" heigth="10rem">
                    <circle r="65" cx="50%" cy="50%" pathlength="100"/>
                    <circle r="65" cx="50%" cy="50%" pathlength="100"/>
                    <text>75%</text>
                </svg>
            </div>
            <h5 class="pt-3 habilidades-titulo">Python</h5>
        </div>

        <div class="col-md-6 col-lg-4 pb-5 d-flex flex-column justify-content-center align-items-center">
            <div class="porcentajes" style="--porcentaje: 70; --color: rgb(235, 33, 36)">
                <svg widht="10rem" heigth="10rem">
                    <circle r="65" cx="50%" cy="50%" pathlength="100"/>
                    <circle r="65" cx="50%" cy="50%" pathlength="100"/>
                    <text>??%</text>
                </svg>
            </div>
            <h5 class="pt-3 habilidades-titulo">JAVA</h5>
        </div>

        <div class="col-md-6 col-lg-4 pb-5 d-flex flex-column justify-content-center align-items-center">
            <div class="porcentajes" style="--porcentaje: 10; --color: rgb(178, 19, 1)">
                <svg widht="10rem" heigth="10rem">
                    <circle r="65" cx="50%" cy="50%" pathlength="100"/>
                    <circle r="65" cx="50%" cy="50%" pathlength="100"/>
                    <text>10%</text>
                </svg>
            </div>
            <h5 class="pt-3 habilidades-titulo">Ruby</h5>
        </div>
    </div>

    <div class="row py-5"> <!-- Blandas -->
        <div class="col-1"></div> <!-- Relleno -->
        <div class="col">
            <h4 class="habilidades-subtitulo">Blandas</h4>
        </div>
    </div>

    <div class="row">

        <div class="col-md-6 col-lg-4 pb-5 d-flex flex-column justify-content-center align-items-center">
            <div class="porcentajes" style="--porcentaje: 90; --color: #007b84">
                <svg widht="10rem" heigth="10rem">
                    <circle r="65" cx="50%" cy="50%" pathlength="100"/>
                    <circle r="65" cx="50%" cy="50%" pathlength="100"/>
                    <text>90%</text>
                </svg>
            </div>
            <h5 class="pt-3 habilidades-titulo">HTML</h5>
        </div>

        <div class="col-md-6 col-lg-4 pb-5 d-flex flex-column justify-content-center align-items-center">
            <div class="porcentajes" style="--porcentaje: 70; --color: #007b84">
                <svg widht="10rem" heigth="10rem">
                    <circle r="65" cx="50%" cy="50%" pathlength="100"/>
                    <circle r="65" cx="50%" cy="50%" pathlength="100"/>
                    <text>70%</text>
                </svg>
            </div>
            <h5 class="pt-3 habilidades-titulo">CSS</h5>
        </div>

        <div class="col-md-6 col-lg-4 pb-5 d-flex flex-column justify-content-center align-items-center">
            <div class="porcentajes" style="--porcentaje: 50; --color: #007b84">
                <svg widht="10rem" heigth="10rem">
                    <circle r="65" cx="50%" cy="50%" pathlength="100"/>
                    <circle r="65" cx="50%" cy="50%" pathlength="100"/>
                    <text>50%</text>
                </svg>
            </div>
            <h5 class="pt-3 habilidades-titulo">JavaScript</h5>
        </div>

        <div class="col-md-6 col-lg-4 pb-5 d-flex flex-column justify-content-center align-items-center">
            <div class="porcentajes" style="--porcentaje: 75; --color: #007b84">
                <svg widht="10rem" heigth="10rem">
                    <circle r="65" cx="50%" cy="50%" pathlength="100"/>
                    <circle r="65" cx="50%" cy="50%" pathlength="100"/>
                    <text>75%</text>
                </svg>
            </div>
            <h5 class="pt-3 habilidades-titulo">Python</h5>
        </div>

        <div class="col-md-6 col-lg-4 pb-5 d-flex flex-column justify-content-center align-items-center">
            <div class="porcentajes" style="--porcentaje: 70; --color: #007b84">
                <svg widht="10rem" heigth="10rem">
                    <circle r="65" cx="50%" cy="50%" pathlength="100"/>
                    <circle r="65" cx="50%" cy="50%" pathlength="100"/>
                    <text>??%</text>
                </svg>
            </div>
            <h5 class="pt-3 habilidades-titulo">JAVA</h5>
        </div>

        <div class="col-md-6 col-lg-4 pb-5 d-flex flex-column justify-content-center align-items-center">
            <div class="porcentajes" style="--porcentaje: 10; --color: #007b84">
                <svg widht="10rem" heigth="10rem">
                    <circle r="65" cx="50%" cy="50%" pathlength="100"/>
                    <circle r="65" cx="50%" cy="50%" pathlength="100"/>
                    <text>10%</text>
                </svg>
            </div>
            <h5 class="pt-3 habilidades-titulo">Ruby</h5>
        </div>
    </div>

</article>