<article class="habilidades-fondo pt-5"> <!-- Habilidades -->

    <div class="row"> <!-- Habilidades título -->
        <div class="col-1"></div>  <!-- Relleno -->
        <div class="col">
            <h3 class="habilidades-titulo">Habilidades</h3>
        </div>
    </div>

    <div class="row py-5"> <!-- Duras -->
        <div class="col-1"></div> <!-- Relleno -->
        <div class="col">
            <h4 class="habilidades-subtitulo">Duras</h4>
        </div>
    </div>

    <app-habilidad-dura></app-habilidad-dura>

    <div class="row py-5"> <!-- Blandas -->
        <div class="col-1"></div> <!-- Relleno -->
        <div class="col">
            <h4 class="habilidades-subtitulo">Blandas</h4>
        </div>
    </div>

    <app-habilidad-blanda></app-habilidad-blanda>

</article>