<div> <!-- Proyecto -->

    <div class="row mt-5">
        <div class="col-1"></div>
        <div class="col">
            <h4 class="proyectos-subtitulo">{{nombre}}</h4>
        </div>
    </div>

    <div class="row pt-3">

        <div class="col-1"></div>
        <div class="col-md-5 px-5">
            <p class="proyectos-parrafo">{{descripcion}}</p>
        </div>

        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <a type="button" class="btn btn-outline-light" href="{{href}}" target="_blank">Ver proyecto</a>
        </div>
    </div>

</div>