<div class="row mb-3"> <!-- Foto de perfil -->
    <img src="../../../assets/img/foto 4x4.jpg" alt="Gabriel R. Gayol" class="rounded-circle ratio-1x1 mx-auto acercade-foto">
</div>

<div class="row"> <!-- Nombre -->
    <div class="col d-flex justify-content-center align-items-center">
        <h6 class="acercade-nombre">{{persona.nombre}} {{persona.apellido}}</h6>
    </div>
</div>

<div class="row"> <!-- Título -->
    <div class="col d-flex justify-content-center align-items-center">
        <h6 class="acercade-nombre">Full Stack Developer Jr.</h6>
    </div>
</div>