/* Acerca de */

.acercade-nombre{
    font-weight: bold;
    font-style: italic;
}

.acercade-titulo{
    color: #000;
}

.acercade-tx{
    color: #fff;
    font-size: 1.2em;
}

.acercade-foto{
    height: 10em;
    width: 10em;
}