<div class="row">

    <div class="col-md-6 col-lg-4 pb-5 d-flex flex-column justify-content-center align-items-center">
        <div class="porcentajes" style="--porcentaje: 90; --color: #007b84">
            <circle-progress
            [percent]="85"
            [radius]="70"
            [showSubtitle]="false"
            [outerStrokeWidth]="20"
            [innerStrokeWidth]="20"
            [space]="-20"
            [outerStrokeColor]="'#007b84'"
            [innerStrokeColor]="'#000'"
            [outerStrokeLinecap]="'butt'"
            [animation]="true"
            [animationDuration]="1200"
            [titleFontSize]="'30'"
            [unitsFontSize]="'20'"
            [titleColor]="'#000'"
            [unitsColor]="'#000'"
          ></circle-progress> 
        </div>
        <h5 class="pt-3 habilidades-titulo">Comunicación</h5>
    </div>

    <div class="col-md-6 col-lg-4 pb-5 d-flex flex-column justify-content-center align-items-center">
        <div class="porcentajes" style="--porcentaje: 70; --color: #007b84">
            <circle-progress
            [percent]="70"
            [radius]="70"
            [showSubtitle]="false"
            [outerStrokeWidth]="20"
            [innerStrokeWidth]="20"
            [space]="-20"
            [outerStrokeColor]="'#007b84'"
            [innerStrokeColor]="'#000'"
            [outerStrokeLinecap]="'butt'"
            [animation]="true"
            [animationDuration]="1200"
            [titleFontSize]="'30'"
            [unitsFontSize]="'20'"
            [titleColor]="'#000'"
            [unitsColor]="'#000'"
          ></circle-progress> 
        </div>
        <h5 class="pt-3 habilidades-titulo">Trabajo en equipo</h5>
    </div>

    <div class="col-md-6 col-lg-4 pb-5 d-flex flex-column justify-content-center align-items-center">
        <div class="porcentajes" style="--porcentaje: 50; --color: #007b84">
            <circle-progress
            [percent]="95"
            [radius]="70"
            [showSubtitle]="false"
            [outerStrokeWidth]="20"
            [innerStrokeWidth]="20"
            [space]="-20"
            [outerStrokeColor]="'#007b84'"
            [innerStrokeColor]="'#000'"
            [outerStrokeLinecap]="'butt'"
            [animation]="true"
            [animationDuration]="1200"
            [titleFontSize]="'30'"
            [unitsFontSize]="'20'"
            [titleColor]="'#000'"
            [unitsColor]="'#000'"
          ></circle-progress> 
        </div>
        <h5 class="pt-3 habilidades-titulo">Adaptabilidad</h5>
    </div>

    <div class="col-md-6 col-lg-4 pb-5 d-flex flex-column justify-content-center align-items-center">
        <div class="porcentajes" style="--porcentaje: 75; --color: #007b84">
            <circle-progress
            [percent]="50"
            [radius]="70"
            [showSubtitle]="false"
            [outerStrokeWidth]="20"
            [innerStrokeWidth]="20"
            [space]="-20"
            [outerStrokeColor]="'#007b84'"
            [innerStrokeColor]="'#000'"
            [outerStrokeLinecap]="'butt'"
            [animation]="true"
            [animationDuration]="1200"
            [titleFontSize]="'30'"
            [unitsFontSize]="'20'"
            [titleColor]="'#000'"
            [unitsColor]="'#000'"
          ></circle-progress> 
        </div>
        <h5 class="pt-3 habilidades-titulo">Resolución de problemas</h5>
    </div>

    <div class="col-md-6 col-lg-4 pb-5 d-flex flex-column justify-content-center align-items-center">
        <div class="porcentajes" style="--porcentaje: 70; --color: #007b84">
            <circle-progress
            [percent]="80"
            [radius]="70"
            [showSubtitle]="false"
            [outerStrokeWidth]="20"
            [innerStrokeWidth]="20"
            [space]="-20"
            [outerStrokeColor]="'#007b84'"
            [innerStrokeColor]="'#000'"
            [outerStrokeLinecap]="'butt'"
            [animation]="true"
            [animationDuration]="1200"
            [titleFontSize]="'30'"
            [unitsFontSize]="'20'"
            [titleColor]="'#000'"
            [unitsColor]="'#000'"
          ></circle-progress> 
        </div>
        <h5 class="pt-3 habilidades-titulo">Pensamiento crítico</h5>
    </div>

    <div class="col-md-6 col-lg-4 pb-5 d-flex flex-column justify-content-center align-items-center">
        <div class="porcentajes" style="--porcentaje: 10; --color: #007b84">
            <circle-progress
            [percent]="90"
            [radius]="70"
            [showSubtitle]="false"
            [outerStrokeWidth]="20"
            [innerStrokeWidth]="20"
            [space]="-20"
            [outerStrokeColor]="'#007b84'"
            [innerStrokeColor]="'#000'"
            [outerStrokeLinecap]="'butt'"
            [animation]="true"
            [animationDuration]="1200"
            [titleFontSize]="'30'"
            [unitsFontSize]="'20'"
            [titleColor]="'#000'"
            [unitsColor]="'#000'"
          ></circle-progress> 
        </div>
        <h5 class="pt-3 habilidades-titulo">Liderazgo</h5>
    </div>
</div>