<nav>
    <div class="row">

        <!-- Título Nav -->

        <div class="col-6">
            <div class="row">

                <div class="col-6 col-md-3"> <!-- Imagen Argentina Programa -->
                    <app-imagen-ap></app-imagen-ap>
                </div>

                <div class="col mx-auto d-none d-md-flex flex-column justify-content-center align-items-start"> <!-- Título Argentina Programa -->
                    <app-nombre></app-nombre>
                </div>
            </div>
        </div>

        <!-- Inicio de sesión y redes sociales -->

        <div class="col-6 my-auto">
            <div class="row">
                
                <div class="col-7"></div>

                <!-- Redes sociales -->

                <div class="col-1 mx-auto">
                    <app-redes-sociales src="../../../assets/img/github.svg" alt="Github logo"></app-redes-sociales>                    
                </div>
                <div class="col-1 mx-auto">
                    <app-redes-sociales src="../../../assets/img/instagram.svg" alt="Github logo"></app-redes-sociales>
                </div>

                

                <div class="col-3">  <!-- Inicio de sesión -->
                    <app-boton-inicio-sesion></app-boton-inicio-sesion>
                </div>
            </div>
        </div>
    </div>
</nav>